# Data Types and Structures Questions

1. What are data structures, and why are they important?

    -> Data structures are specialized formats for organizing, storing, and accessing collections of data. They provide efficient ways to manage information based on its characteristics and intended use.
    
    Why are they important?

    a. Choosing the right data structure significantly impacts the efficiency and performance of our program.
    b. Well-chosen data structures can:
    c. Simplify data manipulation (adding, removing, modifying elements)
    d. Optimize searching and sorting operations
    e. Conserve memory usage

2. Explain the difference between mutable and immutable data types with examples.   

    -> Mutable objects: An object or container whose state and value can be changed after they are created called mutable objects. It also called item assignment.

    Examples of Mutable Data Types:

    a. Lists: We can add, remove, or modify elements.
    b. Dictionaries: We can update key-value pairs.
    c. Sets: We can add or remove items.

    Immutable Objects: An object or container whose state and value can not be changed after they are created called immutable objects.

    Examples of Immutable Data Types:

    a. Strings: WE cannot change a character in a string directly.
    b. Tuples: We cannot modify or add elements.
    c. Integers, Floats: We can't alter their value once assigned.
    d. Frozen Sets: Similar to sets but immutable.

3. What are the main differences between lists and tuples in Python?

    -> Lists and tuples are both used to store collections of items in Python, but they have several key differences in terms of behavior, usage, and functionality. Here's a comparison between the two:
     
    a. Mutability

    List:  Mutable — We can change, add, or remove elements after the list is created.
    
    Tuple: Immutable — Once a tuple is created, its elements cannot be changed, added, or removed.

    b. Performance
    
    List:  Because lists are mutable, they are generally slower when compared to tuples. This is due to the extra memory management needed for mutability.

    Tuple: Tuples are usually faster than lists in terms of access time because they are immutable, which allows Python to optimize their usage in memory.

    c. Methods

    List: Lists come with more built-in methods for modification, like .append(), .remove(), .pop(), .extend(), and .sort().

    Tuple: Tuples have very few built-in methods. They only support methods like .count() and .index() for searching.

4. Describe how dictionaries store data?

    -> Dictionaries in Python are a type of associative container that store data in key-value pairs. They are often used to represent relationships between objects, where each key is unique and maps to a corresponding value.

    Ex: my_dict = {'name': 'Aman', 'age': 28, 'city': 'Indore'}

    Here, 'name', 'age', and 'city' are keys, and 'Aman', 28, and 'Indore' are the values associated with those keys.

5. Why might we use a set instead of a list in Python?

    -> Sets and lists are built-in data structures we can use to store and arrange values in Python.

    If we're wondering which to use, it depends on the use case. If we don’t want the values in the data to change, we can use a set. But if we want the items to change, we can use a list. We can also take into account whether the order of the items matters or not.

6. What is a string in Python, and how is it different from a list?

    -> In Python, a string is a sequence of characters, while a list is a sequence of items that can be of any type. Strings are immutable, meaning their values cannot be changed, while lists are mutable, meaning they can be changed.

    Differences :-
    
    Mutability:  Strings are immutable, while lists are mutable.
    
    Data type:   Strings contain only characters, while lists can contain any type of data.
    
    Representation:  Strings are represented by single or double quotes, while lists are represented by square brackets.

7.  How do tuples ensure data integrity in Python?

    -> In Python, tuples ensure data integrity by being immutable. This immutability means that once a tuple is created, its contents cannot be changed—there are no methods or operations that can modify the elements of a tuple. This feature is crucial for scenarios where we want to guarantee that the data stored in a collection remains constant and cannot be accidentally altered.

8. What is a hash table, and how does it relate to dictionaries in Python?

    -> A hash table is a data structure that provides efficient storage and retrieval of key-value pairs. It works by using a hash function to compute an index (or "hash code") into an array of fixed size. This index determines where the key-value pair should be stored or retrieved from within the table.

    The dictionary is implemented using a hash table. When we create a dictionary, Python uses a hash table behind the scenes to store the key-value pairs.

9. Can lists contain different data types in Python?

    -> Yes, lists can contain different data types. Unlike some other programming languages that require lists (or arrays) to contain elements of the same type, Python allows a list to store elements of various data types, such as integers, strings, floats, and even other lists or objects.

10. Explain why strings are immutable in Python?

    -> Strings are immutable, meaning once a string is created, its content cannot be changed. The immutability of strings is a design choice that provides several benefits related to performance, safety, and consistency.

    Ex:
    


      a_string = "Hello"
      b_string = a_string.replace("H", "J")
      print(a_string)   
      print(b_string)

    Output: "Hello" (original string is unchanged)

11. What advantages do dictionaries offer over lists for certain tasks?

    -> Dictionaries offer several advantages over lists for certain tasks.Dictionaries are faster for finding a specific value, and they can store complex data structures.

    a. Constant Time Complexity
    b. Data Retrieval by Unique Key
    c. No Need for Indexing
    d. Flexibility with Data Types
    e. Efficient Data Updates
    f. Data Aggregation and Grouping
    g. Handling missing data

12. Describe a scenario where using a tuple would be preferable over a list?     

    -> Using a tuple over a list is preferable in scenarios where we need to ensure the integrity of the data, want to improve performance (due to immutability), or when the data represents a collection of elements that should not change after creation.

    Scenario: Storing a Day of the Week
    
    We need to store a day of the week, such as "Monday". We want to store this day, but we don’t want it to change once it's set.

    Why is a Tuple a Good Choice Here?
    
    -A tuple is immutable, meaning once we set the value, we cannot change it.
    
    -Since the day of the week should never change, a tuple is a good fit for this use case.
    
    -It also provides better performance and communicates that the data should remain constant.

13. How do sets handle duplicate values in Python?

    -> sets are a special type of collection that do not allow duplicate values. While try to add a duplicate value to a set, Python automatically ignores it. This means that each element in a set is unique.

    Example:
    
     
     
     my_set = {1, 2, 3, 2, 1}
     print(my_set)

      Outpt: {1, 2, 3}

14. How does the “in” keyword work differently for lists and dictionaries?

    -> The "in" keyword is used to check for the presence of an element in different data structures like lists and dictionaries, but it works differently in each case

    a. When we use "in" with a list, it checks whether the value exists in the list.

    b. When we use in with a dictionary, it checks for the keys in the dictionary, not the values.

15. Can you modify the elements of a tuple? Explain why or why not

    -> No, we cannot modify the elements of a tuple in Python because tuples are immutable. This means that once a tuple is created, its elements cannot be changed, added, or removed.

    Reasons:

    a. Tuples are immutable, while lists are mutable.
    b. If we try to change a tuple element, we will receive a TypeError error.
    c. To add or remove elements from a tuple, we need to create a new tuple.
    d. Tuples are more memory-efficient than lists.

16. What is a nested dictionary, and give an example of its use case?

    -> Nested dictionaries are dictionaries that are stored as values within another dictionary. Ex: An organizational chart with keys being different departments and values being dictionaries of employees in a given department. For storing employee information in a department, a dictionary can be used with keys being employee IDs and values being employee names.

17. Describe the time complexity of accessing elements in a dictionar.

    -> In Python, accessing elements in a dictionary has an average time complexity of O(1), which is also known as constant time. This means that, on average, retrieving the value for a given key is done in a constant amount of time, regardless of the size of the dictionary.

18.  In what situations are lists preferred over dictionaries.   

    ->  Use lists when:

    - We care about the order of items.
    
    - We want to access items by position (index).
    
    - We just need a simple collection of items.
    
    Use dictionaries when:

    - We need to look up items quickly by a unique key (not by position).

    - We need to store data in key-value pairs (e.g., "name": "John", "age": 25).

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

    -> Dictionaries are unordered because their focus is on fast key-based access, not maintaining the order of items.
    
    Key reasons why dictionaries are unordered:
    
    Hashing: Dictionaries use a hash table to store data. The keys are hashed, meaning they are converted into a unique value (hash) that determines their position in memory. This process doesn't rely on the order of insertion, so the dictionary doesn’t store items in a specific order based on how they were added.

    Efficiency: The goal of a dictionary is to provide fast lookups, so the internal organization is optimized for quick access via the key, not maintaining order.

    Impact on data retrieval:
    
    Access by key: You retrieve data from a dictionary using keys (e.g., my_dict['name']), and the lookup will still be fast (O(1) on average). This is because dictionaries focus on hashing the key, not the order.

    Order matters: Although Python 3.7+ maintains insertion order, you can't rely on dictionaries being ordered in earlier versions or for use cases that require strict ordering. If you care about order (e.g., processing items in the exact order they were added), lists or ordered dictionaries (from collections.OrderedDict) are better choices.

20. Explain the difference between a list and a dictionary in terms of data retrieval.    

    -> There is a difference beetwen list and dictionary. lists use indices to access elements, while dictionaries use keys.

    Lists
    
    - Lists are ordered collections of items.
    
    - Elements in a list are accessed using indices, which are integers that start at zero.
    
    - Lists are good for ordered operations like sorting.
    
    - Lists can contain duplicate items.

    Dictionaries
    
    - Dictionaries are unordered collections of key-value pairs.
    
    - Elements in a dictionary are accessed using keys, which can be of any data type.
    
    - Dictionaries are good for lookup operations.
    
    - Dictionaries do not allow duplicate keys

# Data Types and Structures Practical Questions

# 1. Write a code to create a string with your name and print it.

In [ ]:
Name = "Aman"
print(Name)

Aman

# 2. Write a code to find the length of the string "Hello World"

In [ ]:
string_name = "Hello World"
length = len(string_name)
print(length)

11

# 3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
string = "Python Programming"
sliced_string = string[:3]
print(sliced_string)

Pyt

# 4. Write a code to convert the string "hello" to uppercase.

In [ ]:
string = "hello"
new_string = string.upper()
print(new_string)

HELLO

# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
string = "I like apple"
new_string = string.replace("apple", "orange")
print(new_string)

I like orange

# 6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
lst = [1, 2, 3, 4, 5]
print(lst)

[1, 2, 3, 4, 5]

# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
lst = [1,2,3,4]
lst.append(10)
lst

[1, 2, 3, 4, 10]

# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
lst = [1,2,3,4,5]
lst.remove(3)
lst

[1, 2, 4, 5]

# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
lst = ['a' , 'b' , 'c' , 'd']
lst[1]

'b'

# 10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
my_list = [10, 20, 30, 40, 50]
reversed_list = my_list[::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [ ]:
my_tuple = ('red', 'green', 'blue', 'yellow')
second_last_value = my_tuple[-2]
print(second_last_value)

blue

# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [ ]:
my_tuple = (10, 20, 5, 15)
minimum_value = min(my_tuple)
print(minimum_value)

5

# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

# 15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
from re import search
fruits_tuple = ('apple', 'banana', 'cherry')
search_kiwi = 'kiwi' in fruits_tuple
print(search_kiwi)

False

# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it

In [ ]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'a', 'c'}

# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [ ]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1 | set2
print(union_set)

{1, 2, 3, 4, 5}

# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1 & set2
print(intersection_set)

{2, 3}

# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [ ]:
my_dict = {
    "name": "John",
    "age": 30,
    "city": "New York"
}
print(my_dict)

{'name': 'John', 'age': 30, 'city': 'New York'}

# 22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [ ]:
my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict["name"]
print(name_value)

Alice

# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict["age"]
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [ ]:
my_dict = {'name': 'Alice', 'city': 'Paris'}

if 'city' in my_dict:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_tuple = ('apple', 'banana', 'cherry')
my_dict = {'name': 'Alice', 'city': 'Paris'}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'city': 'Paris'}

# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [ ]:
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print("Sorted List:", random_numbers)

Sorted List: [38, 52, 60, 78, 92]

# 28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
lst = ["Aman", "Riya", "Aarya", "Rian"]
Thired_index = lst[3]
print(Thired_index)

Rian

# 29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict1 = {'name': 'Aman', 'age': 25}
dict2 = {'city': 'Indore', 'job': 'Engineer'}

combined_dict = {**dict1, **dict2}
print(combined_dict)

{'name': 'Aman', 'age': 25, 'city': 'Indore', 'job': 'Engineer'}

# 30. Write a code to convert a list of strings into a set.

In [ ]:
my_list = ['apple', 'banana', 'cherry', 'apple', 'date']
my_set = set(my_list)
print(my_set)

{'banana', 'date', 'cherry', 'apple'}